body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    padding-bottom: 4%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.title-container{
    padding: 3% 15% 3% 15%;
    margin-top: 0px;
    margin-bottom: 6.25rem;
}


/* Navigation Bar */

.navbar {
    margin-bottom: 3.125rem;
    padding-left: 0;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu', 'sans-serif';
}

.nav-item {
    padding: 0 1.25rem 0 1.25rem;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.25rem;
}


/* Image */

.iphone-img {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
}

/* Buttons */

.row button {
    margin-top: 1.25rem;
    margin-right: 0.5rem;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

#features i {
    font-size: 3rem;
    color: #ef8172;
    margin-bottom: 0.9375rem;
    cursor: pointer;
    transition: color 0.35s;
}

#features p {
    color: #8f8f8f;
    margin-bottom:rem;
}

#features .feature-component {
    text-align: center;
}

#features i:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px;
}

/* Pricing Cards */

#pricing {
    text-align: center;
}

.card-header {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-body button {
    padding: 3% 40%;    
}

#pricing {
    padding: 6.25rem;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .iphone-img {
        position: static;
        transform: rotate(0);
        margin-top: 3.125rem;
    }
}

/* Call To Action */

#cta {
    background-color: #ff4c68;
    text-align: center;
}

#cta h3 {
    margin: 0 auto;
    font-size: 3.125rem;
    line-height: 1.5;
    width: 69.357rem;
    padding: 4.6875rem;
    color: #fff;
}

#cta button {
    margin-bottom: 6.25rem;
    margin-right: 1.875rem;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 6.25rem;
}

#footer i {
    padding: 1.25rem 0.625rem;
}